<footer>
    <div class="footer__container">
        <section>
            <h2 class="footer__title"> Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, mollitia cumque. Blanditiis aliquid odit cupiditate nostrum nisi ad, voluptatibus doloribus harum, iure quo voluptatum itaque vero voluptatem saepe similique assumenda!
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@emai.com.br</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i>(00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados!
    </section>
</footer>
